{
  "swagger": "2.0",
  "info": {
    "title": "freee_test",
    "description": "",
    "version": "1.0"
  },
  "host": "api.freee.co.jp",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/1/companies": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "companies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "name_kana": {
                        "type": "string",
                        "description": "name_kana"
                      },
                      "display_name": {
                        "type": "string",
                        "description": "display_name"
                      },
                      "role": {
                        "type": "string",
                        "description": "role"
                      }
                    }
                  },
                  "description": "companies"
                }
              }
            }
          }
        },
        "summary": "事業所一覧の取得",
        "description": "ユーザーが所属する事業所の一覧を取得する",
        "operationId": "get_companies",
        "parameters": [],
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://accounts.secure.freee.co.jp/public_api/authorize",
      "tokenUrl": "https://accounts.secure.freee.co.jp/public_api/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": []
}